@model Academy.EntityFramework.Concrete.Student
@{
    ViewBag.Title = "AddStudentToAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddStudentToAttendance</h2>


<table class="table table-bordered">

    <thead>
        <tr class="header">
            <th>Kurs No</th>
            <th>Kurs Adı</th>
            <th>Kurs Açıklama</th>
            <th>Kurs Toplam Süre</th>
            <th>Eğitmenler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CourseDto course in Model)
        {
            <tr class="customtr clickable-row" onclick="clickablerow('@course.CourseId')">
                <td>@course.CourseId   <input type="text" class="hiddencourse" name="name" value="@course.CourseId" /></td>

                <td>@course.Title</td>
                <td>@course.Description</td>
                <td>@course.TotalTime</td>
                @foreach (Academy.EntityFramework.Concrete.Instructor instructorModel in course.Instructors)
                {
                    <td>@instructorModel.FirstName @instructorModel.LastName</td>

                }

            </tr>
        }
    </tbody>
</table>



