@model List<CourseDto>
@{
    ViewBag.Title = "AttendanceReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainarea">

    <h3>Yoklama Listresi <i class="fa fa-list-alt" aria-hidden="true"></i></h3>
    <div class="row picker">
        <p>Lütfen görüntülemek istediğiniz tarihi seçerek ilgili kurs  satırına veya detay düğmesine tıklayınız.</p>
        <div class="col">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <input data-date-format="dd/mm/yyyy" id="datepicker">
        </div>
    </div>
    <div class="row ">

        <table class="table table-bordered">

            <thead>
                <tr class="header">
                    <th>Kurs No</th>
                    <th>Kurs Adı</th>
                    <th>Eğitmenler</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CourseDto course in Model)
                {
                    <tr class="customtr clickable-row">

                        <td> @Html.DisplayFor(modelItem => course.CourseId)  <input type="text" class="hiddencourse" name="name" value="@course.CourseId" /></td>


                        <td>  @Html.DisplayFor(modelItem => course.Title)</td>


                        @foreach (Academy.EntityFramework.Concrete.Instructor instructorModel in course.Instructors)
                        {
                            <td>@instructorModel.FirstName @instructorModel.LastName</td>

                        }
                        <td style="text-align:center;">

                            @*<div class="btn btn-warning">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <input class="btn btn-warning mybutton hiddencourse" value="@course.CourseId">
                                </div>*@

                            <button class="btn btn-warning mybutton" onclick="getReport('@course.CourseId')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>

                            <button class="btn btn-info mybutton" onclick="showChartGraphic('@course.CourseId')">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </button>


                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="forModal"></div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>







<script>




    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });

    $('#datepicker').datepicker("setDate", new Date());

    function getReport(CourseId) {
        var model = new Object();
        model.CourseId = CourseId;
        model.ReportDate = $("#datepicker").val();
        $.ajax({
            url: '/Attendances/AttendanceReport',
            type: 'POST',
            datatype: 'json',
            async: true,
            data: { reportDto: model },
            success: function (e) {
                $(".mainarea").replaceWith(e);

            }
        });
    }
    function showChartGraphic(CourseId) {

        var model = new Object();
        model.CourseId = CourseId;
        model.ReportDate = $("#datepicker").val();
        $.ajax({
            url: '/Attendances/CreateChart',
            type: 'POST',
            datatype: 'json',
            async: true,
            data: { reportDto: model },
            success: function (e) {
                $("#forModal").append(e);
                $('#chartModal').modal('show')
            }
        });
    }



    function deleteFromAttendance(AttendanceDetailId) {
        var answer = window.confirm("Kaydı silmek istedinize emin misiniz?")

        if (answer == true) {
            $.ajax({
                url: '/Attendances/DeleteFromAttendance',
                type: 'POST',
                datatype: 'json',
                async: true,
                data: { Id: AttendanceDetailId },
                success: function (e) {

                    document.getElementById(AttendanceDetailId).style.display = "none";



                }

            });
        }
    }

</script>
